@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Nunito+Sans:400,700,800|Oswald:400,700&display=swap');

/******************************
Fonts
******************************/
$Oswald: 'Oswald', sans-serif;
$Karla: 'Karla', sans-serif;
$Nunito: 'Nunito Sans', sans-serif;

/******************************
Font Sizes
******************************/
$big-heading: 4rem;
$heading: 2rem;
$paragraph: 1.125rem;

/******************************
Colors
******************************/
$White: #ffffff;
$Nude: #edd7c2;
$Red: #b93131;
$Black: #191414;
