/*****************************************
Imports
******************************************/
@import 'aos';
@import 'functions';
@import 'landingpage-block';
/*****************************************
Reset
******************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
