/*****************************************
Imports
******************************************/
@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'aos';
@import 'functions';
@import 'landingpage-block';
@import 'navbar';
@import 'side-blocks';
/*****************************************
Reset
******************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Changing Bootstraps default Buttons & "a" tags
.btn-primary {
  color: $White;
  background: $Nude;
  border-style: none;
  &:hover {
    background-color: darken($Nude, $amount: 6%);
  }
}

a {
  color: $Nude;
  text-decoration: none;
  &:hover {
    color: darken($Nude, $amount: 6%);
    text-decoration: none;
  }
}
