.my-navbar {
  position: absolute;
  z-index: 99;
  width: 100%;
  margin-bottom: 0;

  .navbar-logo a {
    font-size: $heading;
    font-family: $Oswald;
    color: $White;
  }

  .logo-number {
    color: $Nude;
  }
  .logo-dot {
    color: $Red;
  }
}

.site-menu a {
  text-decoration: none;
  font-family: $Karla;
  font-size: $navbar;
  color: $White;
}
