/******************************
First Featured Box
******************************/
.feature-box-half {
  position: relative;
  background: $White;
  margin-top: -100px;
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.1);
  div {
    width: 50%;
  }
  .image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .text {
    padding: 100px;
    font-family: $Karla;
    font-size: 1rem;

    .feature-title {
      font-family: $Oswald;
      font-size: $heading;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        margin-bottom: 10px;
      }
    }
  }
}

/******************************
Image
******************************/
.site-block-half {
  .image,
  .text {
    width: 100%;
    @include media-breakpoint-up(lg) {
      width: 50%;
    }
  }
  .image {
    @include media-breakpoint-down(md) {
      margin-bottom: 50px;
    }
  }
  .text {
    padding-left: 15px;
    padding-right: 15px;
    @include media-breakpoint-up(lg) {
      padding: 4rem;
    }
    @include media-breakpoint-up(xl) {
      padding: 8rem 4rem;
    }
  }
  .bg-image {
    background-position: center center;
    @include media-breakpoint-down(md) {
      height: 400px;
    }
  }

  &.site-block-video {
    .image {
      position: relative;
      .play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        width: 70px;
        height: 70px;
        background: $white;
        display: block;
        border-radius: 50%;
        opacity: 1;
        color: $primary !important;
        &:hover {
          opacity: 1;
        }
        > span {
          position: absolute;
          left: 55%;
          top: 50%;
          transform: translate(-60%, -50%);
        }
      }
    }
  }
}
/******************************
Divider 1
******************************/
.site-section-heading {
  h2 {
    font-size: $heading;
    font-family: $Oswald;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }
  p {
    font-family: $Karla;
  }
  &.w-border {
    h2 {
      position: relative;
      padding-bottom: 20px;
      display: inline-block;
      &:after {
        position: absolute;
        content: '';
        width: 90px;
        left: 0;
        bottom: 0;
        height: 4px;
        background: $Nude;
      }
    }
    &.text-center {
      h2 {
        &:after {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

/******************************
Angebote
******************************/
.padded-multi-line-primary {
  display: inline;
  background: $Nude;
}
.padded-multi-line-black {
  display: inline;
  background: $Black;
}

.unit-9 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
  display: block;
  overflow: hidden;
  .image {
    background-size: cover;
    background-position: center center;
    transition: 0.3s all ease-in-out;
    height: 300px;
    transition: 0.3s all ease;
    transform: scale(1.05);
  }
  &.no-height {
    height: auto;
    .image {
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  .unit-9-content {
    transition: 0.3s all ease-in-out;
    position: absolute;
    bottom: 0;
  }
  h2 {
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    color: $White;
    font-size: $paragraph;
    margin-bottom: 0;
    @extend .padded-multi-line-primary;
  }
  span {
    background: $Black;
    display: block;
    color: $White;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 11px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    @extend .padded-multi-line-black;
  }
  &:hover {
    .image {
      transform: scale(1);
    }
  }
}

/******************************
Weitere Angebote
******************************/
.backgroundimg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.site-block-retro {
  .col1,
  .col2 {
    width: 48%;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  .col1 {
    @extend .backgroundimg;
    @include media-breakpoint-down(sm) {
      height: 300px;
      margin-bottom: 8%;
    }
  }
  .col2 {
    > a {
      display: block;
      @extend .backgroundimg;
      height: 300px;
      &:first-child {
        margin-bottom: 8%;
      }
    }
  }
}
/******************************
Media Queries
******************************/
@media (min-width: 576px) {
  .site-section {
    padding-top: 7em;
  }
}
